{% extends "index.html" %}

{% block main %}
<div class="basket-container">
    <h1>Carrito de Compras</h1>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
<!--         <p>Total: </p> -->

            
        </tbody>
    </table>
    <div class="basket-summary">
<!--         <p>Total: </p> -->

    </div>
</div>
{% endblock %}