{% extends "index.html" %}

{% block main %}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="static/img/altavoz.jpg" class="card-img-top" alt="Altavoz">
            <div class="card-body">
                <h5 class="card-title">Altavoz</h5>
                <p class="card-text">Altavoz compacto y potente con excelente calidad de sonido.</p>
                <a href="/building" class="btn btn-primary">Ver Detalles</a>
                <a href="#" class="btn btn-success">Añadir al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="static/img/laptop.jpg" class="card-img-top" alt="Laptop">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">Laptop moderna y ligera con alto rendimiento para trabajo y entretenimiento.</p>
                <a href="/building" class="btn btn-primary">Ver Detalles</a>
                <a href="#" class="btn btn-success">Añadir al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="static/img/mouse.jpg" class="card-img-top" alt="Mouse">
            <div class="card-body">
                <h5 class="card-title">Mouse</h5>
                <p class="card-text">Mouse ergonómico y preciso, ideal para largas jornadas de trabajo.</p>
                <a href="/building" class="btn btn-primary">Ver Detalles</a>
                <a href="#" class="btn btn-success">Añadir al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="static/img/televisor.jpg" class="card-img-top" alt="Televisor">
            <div class="card-body">
                <h5 class="card-title">Televisor</h5>
                <p class="card-text">Televisor de alta definición con colores vibrantes y sonido envolvente.</p>
                <a href="/building" class="btn btn-primary">Ver Detalles</a>
                <a href="#" class="btn btn-success">Añadir al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="static/img/headset.jpg" class="card-img-top" alt="Auriculares">
            <div class="card-body">
                <h5 class="card-title">Auriculares</h5>
                <p class="card-text">Auriculares cómodos con sonido envolvente y micrófono integrado.</p>
                <a href="/building" class="btn btn-primary">Ver Detalles</a>
                <a href="#" class="btn btn-success">Añadir al Carrito</a>
            </div>
        </div>
    </div>
</div>

<style>
    .navigation-panel {
    text-align: center;
    }
</style>

{%endblock %}